<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <table>
        <tr>
            <th>name</th>
        </tr>

        {% for brand in brands %}
        <tr>
            <td>{{ brand.name }}</td>
            <td><a href="{% url 'brands:delete_brand' brand.id %}">Delete</a></td>
            <td><a href="{% url 'brands:update_brand' brand.id %}">Update</a></td>
        </tr>

        {% endfor %}
    </table>

    <a href="{% url 'brands:create_brand' %}">Criar</a>
        <a href="{% url 'index' %}">Voltar</a>

</body>
</html>