<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1>Car</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Year</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.year }}</td>
            <td><a href="{% url 'cars:delete_car' car.id %}">Deletar</a></td>
            <td><a href="{% url 'cars:update_car' car.id%}">Atualizar</a></td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'cars:create_car' %}">Criar</a>
</body>
</html>